{{ if eq .chezmoi.os "darwin" -}}
{{   template "profile_part1_darwin.sh" }}
{{ end -}}

{{ template "shrc_part0.sh" -}}
{{ if eq .chezmoi.os "darwin" }}
{{   template "shrc_part1_darwin.sh" }}
{{ end -}}
{{ template "bashrc_part1.sh" -}}

{{ if eq .chezmoi.os "darwin" }}
bind -f $INPUTRC
{{ end -}}
