{{ if eq .chezmoi.os "darwin" -}}
export EDITOR=/run/current-system/sw/bin/nvim
export SHELL=/run/current-system/sw/bin/zsh

{{ end -}}

export VISUAL="$EDITOR"

{{ template "profile.sh" dict "os" .chezmoi.os -}}
