{{ template "bashrc" dict "os" .chezmoi.os -}}

{{ if eq .chezmoi.os "darwin" }}
bind -f $INPUTRC

{{ else }}
{{ end -}}

{{ template "profile.sh" dict "os" .chezmoi.os -}}

export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
