{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

if [[ ! -f /etc/motd ]]; then
  if [[ $EUID -eq 0 ]]; then
    touch /etc/motd
    tee -a /etc/motd > /dev/null << EOF
        __            __
.-----.|  |--..---.-.|__|
|  _  ||  _  ||  _  ||  |
|___  ||_____||___._||__|
|_____|
EOF
  else
    sudo touch /etc/motd
    sudo tee -a /etc/motd > /dev/null << EOF
        __            __
.-----.|  |--..---.-.|__|
|  _  ||  _  ||  _  ||  |
|___  ||_____||___._||__|
|_____|
EOF
  fi
fi
{{ end -}}
