{{ if eq .chezmoi.os "darwin" -}}
set clipboard=unnamed
noremap <Leader>y "*y
noremap <Leader>p "*p

{{ else if eq .chezmoi.os "linux" -}}
set clipboard=unnamedplus
noremap <Leader>y "+y
noremap <Leader>p "+p

{{ end -}}

" Paste toggling
nnoremap <C-p> :set invpaste paste?<CR>
set pastetoggle=<C-p>
