{
  "python.analysis.useLibraryCodeForTypes": false,
  "python.formatting.provider": "black",
{{ if eq .chezmoi.os "darwin" -}}
  "python.venvPath": "${env:HOME}/.pyenv/versions",
  "python.formatting.blackPath": "~/.pyenv/versions/coc/bin/black",
  "python.sortImports.path": "~/.pyenv/versions/coc/bin/isort"
{{ else if eq .chezmoi.os "linux" -}}
  "python.venvPath": "${env:HOME}/miniforge3/envs",
  "python.formatting.blackPath": "~/miniforge3/envs/coc/bin/black",
  "python.sortImports.path": "~/miniforge3/envs/coc/bin/isort"
{{ end -}}
}
